$white: rgba(255, 255, 255, 1);
$dark: #32325D;
$gray-dark: #525F7F;
$background-hover: rgba(0, 0, 0, 0.1);
$background: rgba(255, 255, 255, 0.95);

$themecolor: #00B5AD;
$themecolor-dark0: #2F8265;
$themecolor-dark: #2B785D;
$themecolor-dark2: #25654F;
$themecolor-dark3: #1E5340;
$themecolor-light: #3FB189;

@import url('fontello.css');
@import 'base.scss';

html, body {
  scroll-behavior: smooth;
}

.fa {
  font-family: FontAwesome !important;
}

body {
  font-family: Consolas,Monaco,Tahoma,"Helvetica Neue",Helvetica,"Lucida Grande","Lantinghei SC","Open Sans","Microsoft YaHei",sans-serif;
  line-height: 1.8;
  font-weight: 300;
  margin: 0;
  text-align: left;
  color: $gray-dark;
}

.header {
  // transform: scale3d(1, 1, 1);

  .following {
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0;
    right: 0;
    padding: 2em 0;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;

    &.fixed {
      padding: 0;
      background-color: $white;
      border-bottom: 1px solid #ddd;

      nav .menu li > a {
        color: $themecolor;
        margin: 0 .5rem;
        &:hover {
          background-color: rgba(0,0,0,.05);
        }
      }

      nav .search-box .search {
        span, input {
          color: $themecolor;
        }

        &.opened {
          background-color: rgba(0,0,0,.05);
        }
      }
    }
  }

  nav {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;

    .logo {
      padding: .78571429em .78571429em .78571429em .92857143em;
      margin-right: 1rem;

      img {
        width: 36px;
        height: 36px;
      }
    }

    .menu {
      list-style: none;
      line-height: 1;
      display: flex;
      flex-grow: 1;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & > a {
          font-size: 0.875rem;
          border-radius: 0.28571429rem;
          padding: 0.78571429em 0.92857143em;
          margin: 0 .5rem;
          text-decoration: none;
          color: $white;
          cursor: pointer;
          text-align: center;

          &:hover {
            background-color: rgba(255, 255, 255, .08);
          }
        }

        .dropdown-menu {
          visibility: hidden;
          transition: visibility .25s, opacity .25s,transform .25s;
          position: absolute;
          top: 100%;
          left: 0.5rem;
          min-width: 12em;
          border: 1px solid rgba(34, 36, 38, .15);
          border-radius: 0.28571429em;
          background-color: $white;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          transform: translate(0,10px) perspective(200px) rotateX(-2deg);
          opacity: 0;

          &::before {
            position: absolute;
            z-index: -5;
            bottom: 100%;
            left: 20px;
            display: block;
            width: 16px;
            height: 16px;
            content: '';
            transform: rotate(-45deg) translateY(1rem);
            border-radius: .2rem;
            background: $white;
            box-shadow: none;
          }

          a {
            display: block;
            font-size: 0.875rem;
            padding: 0.78571429em 0.92857143em;
            margin: 0;
            text-decoration: none;
            color: $dark;
            cursor: pointer;

            &:hover {
              background-color: rgba(0, 0, 0, .05);
            }
          }

        }

        &:hover {
          .dropdown-menu {
            visibility: visible;
            transform: translate(0,0);
            opacity: 1;
          }
        }
      }
    }

    .search-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .search {
        border-radius: 0.28571429rem;
        display: flex;
        height: 36px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: all .3s ease;
        width: 39px;
        background-color: rgba(255, 255, 255, 0);

        input {
          border: 0;
          width: 0;
          font-size: 0.875rem;
          padding: 0;
          background: none;
          outline: none;
          color: $white;
          transition: all .3s ease;
        }

        span {
          color: $white;
          cursor: pointer;
          font-size: 0.875rem;
          line-height: 1;
          padding: 0.78571429em 0.92857143em;
        }

        &.opened {
          margin-right: 1rem;
          width: 220px;
          background-color: rgba(255, 255, 255, .08);

          input {
            flex-grow: 1;
            padding: 0.78571429em 0.92857143em 0.78571429em 0;
          }
        }
      }
    }
  }
}

.banner {
  position: relative;
  background: #000000;
  z-index: 3;

  &::after {
    background-image: url('./../images/theme/bg-30.jpg');
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: '';
    background-size: cover;
    opacity: 0.45;
  }

  .container {
    height: 55vh;
    min-height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    .introduction {
      h1 {
        font-size: 3em;
        color: $white;
        line-height: 1.2;
        perspective: 500px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);

        span {
          &.title {
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            display: block;
            font-size: 1.75em;
            font-weight: bold;
          }
          &.subtitle {
            font-size: 0.75em;
          }
        }
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  .aside {
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;

    &.aside-right {
      flex-basis: 20rem;

      .prefile {
        box-shadow: -1px 0 0 rgba(34, 36, 38, 0.15);
        margin-top: 4rem;
        margin-left: 2rem;

        .avator {
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 100px;
          margin: 0 auto;

          img {
            width: 100px;
          }
        }

        .name {
          font-size: 1.2rem;
          text-align: center;
          margin: 1rem 0;
        }

        .site-state {
          display: flex;
          justify-content: space-around;
          margin: 1rem;

          .item {
            text-align: center;
            border-left: 1px solid #eee;
            padding: 0 .5rem;

            &:first-child {
              border: 0;
            }

            strong, span {
              font-size: 13px;
              display: block;
            }
          }
        }

        .social-share {
          display: flex;
          justify-content: center;

          a {
            display: block;
            margin: 1rem;
            background-color: $themecolor;
            color: $white;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            font-size: 1.15rem;
            border-radius: 50%;

            &.github {
              background-color: #333333;
            }

            &.twitter {
              background-color: #55acee;
            }

            &.facebook {
              background-color: #3b5998;
            }
          }
        }
      }

      .catalog {
        margin-top: 0;
        margin-left: 2rem;
        overflow-y: auto;

        &.fixed {
          position: fixed;
          top: 62px;
        }

        ul {
          list-style: none;

          li {

            ul {
              padding-left: 1rem;
            }

            a {
              display: block;
              font-size: .85rem;
              cursor: pointer;
              word-break: break-all;
              line-height: 1;
              width: 100%;
              padding: .4rem;
              overflow-x: hidden;
              white-space: nowrap;
              color: $dark;
              text-decoration: none;
              box-sizing: border-box;

              &:hover {
                color: $themecolor;
              }
            }
          }
        }
      }
    }
  }

  .main {
    flex-basis: 56rem;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 56rem;
    padding-left: 14rem;

    .article {
      margin-top: 4rem;
      padding: 0 0 4rem 0;
      clear: both;
      width: 100%;

      h2 {
        margin: 0.85rem 0;
        font-weight: 300;
        a {
          color: black;
          text-decoration: none;
          font-size: 1.8rem;
          transition: color .5s;
          &:hover {
            color: $themecolor;
          }
        }
      }

      .date {
        float: left;
        margin-left: -10rem;
        width: 100px;
        padding: 20px 0;
        text-align: center;
        background: $themecolor;
        font-size: 2em;
        color: $white;

        small {
          display: block;
          font-size: .5em;
          border-top: $white solid 1px;
          width: 4em;
          margin: auto;
        }
      }

      .time {
        color: #999;
      }

      .tags {
        margin-top: .85em;
        word-break: break-all;

        span {
          margin: 0 0.5rem 0 0;
          padding: 0.2rem 0.4rem;
          background-color: #f7f7f7;
          color: $gray-dark;
          transition: background-color .5s;
          font-size: .85em;
          font-weight: 200;
          cursor: pointer;


          &:hover {
            background-color: #e7e7e7;
          }
        }
      }

    }
  }
}

.footer {
  margin: 2rem 0;

  text-align: center;
  img {
    width: 36px;
    height: 36px;
  }
  p {
    margin: 1rem 0;
    color: #999;
    font-size: .85rem;
  }
}

.card, .markdown-section {
  background: $background;
  padding: 1rem;
  margin-bottom: 1rem;

  h1, h2, h3, h4, h5 {
    font-weight: 300 !important;
  }

  h1 {
    font-size: 2em;
    letter-spacing: .5px;
    transition: all .35s ease;
    color: $themecolor;
    word-wrap: break-word;
    text-align: center;

    &:hover {
      letter-spacing: 1px;
    }
  }
}

.markdown-section {
  padding: 2rem;
}

@import 'media.scss';
