$white: #FFF;
$dark: #32325D;
$gray-dark: #525F7F;
$background-hover: rgba(0, 0, 0, 0.1);
$background: rgba(255, 255, 255, 0.95);

$themecolor: #328b6c;
$themecolor-dark0: #2F8265;
$themecolor-dark: #2B785D;
$themecolor-dark2: #25654F;
$themecolor-dark3: #1E5340;
$themecolor-light: #3FB189;

@import url('font-awesome/css/font-awesome.css');
@import 'base.scss';

html, body {
  scroll-behavior: smooth;
}

.fa{
  font-family: FontAwesome !important;
}

body {
  font-family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: $gray-dark;
}

body>header {
  min-height: 85px;

  nav {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    z-index: 3;
    transition: background-color .3s, padding .3s ease;
    position: fixed;

    .container {
      padding: 0 15px;
      max-width: 1200px !important;
      flex-wrap: nowrap;
      margin-left: auto;
      margin-right: auto;
      display: flex;

      .navbar-toggler {
        align-self: flex-start;
      }

      .navbar-brand {
        align-self: flex-start;
      }

      .navbar-collapse {
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &>ul {
          display: flex;
          align-items: flex-start;
        }
      }

      a {
        display: block;
        padding: 1rem;
        font-size: 0.9rem;
        color: $white;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          opacity: 0.8;
        }
      }

      ul {
        list-style: none;
        li {
          position: relative;
          line-height: 1.5;
          margin-right: 0.5rem;

          .dropdown-menu {
            visibility: hidden;
            transition: visibility .25s, opacity .25s,transform .25s;
            font-size: 1rem;
            position: absolute;
            z-index: 1000;
            top: 100%;
            left: 0;
            float: left;
            min-width: 10rem;
            margin: .125rem 0 0;
            padding: .5rem 0;
            list-style: none;
            text-align: left;
            color: $gray-dark;
            border: 0 solid rgba(0,0,0,.15);
            border-radius: .3rem;
            background-color: $white;
            background-clip: padding-box;
            box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
            transform: translate(0,10px) perspective(200px) rotateX(-2deg);
            opacity: 0;

            &::before {
              position: absolute;
              z-index: -5;
              bottom: 100%;
              left: 20px;
              display: block;
              width: 16px;
              height: 16px;
              content: '';
              transform: rotate(-45deg) translateY(1rem);
              border-radius: .2rem;
              background: $white;
              box-shadow: none;
            }

            .dropdown-item {
              padding: 0.5rem 1rem;
              color: $gray-dark !important;

              &:hover {
                background-color: $background-hover;
              }
            }
          }

          &:hover {
            .dropdown-menu {
              visibility: visible;
              transform: translate(0,0);
              opacity: 1;
            }
          }
        }
      }

      .header-search {
        margin: 0.2rem;
        padding: 0.8rem;
        font-size: 0.9rem;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color .5s, width .5s ease;
        display: flex;
        position: absolute;
        right: 0;
        width: 1.5rem;

        span {
          color: $white;
          position: absolute;
          left: 0.8rem;
          top: 0.8rem;
        }

        input {
          border: 0;
          width: 0;
          padding: 0 0 0 1.5rem;
          box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
          font-size: 0.9rem;
          height: 1.5rem;
          background: none;
          outline: none;
          cursor: pointer;
        }

        &.opened {
          background-color: $background;
          width: 240px;

          span {
            color: $gray-dark;
          }

          input {
            width: 100%;
            cursor: default;
          }
        }
      }
    }
  }
}

.banner {
  color: $white;
  text-align: center;
  padding: 2em;
}

.banner-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.banner-subtitle {
  font-size: 0.75rem;
}

.content {
  &::before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background-image: url('./../images/theme/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity .5s ease;
  }

  display: flex;
  justify-content: space-between;
  padding: 0.8em;

  aside {
    flex: 0 0 250px;
    margin: 0 0.8rem;

    &.aside-left {
      .sidebar-banner {
        background: linear-gradient(150deg, $themecolor-light 15%, $themecolor 70%, $themecolor-dark0 94%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 1rem;
      }
      .sidebar-menu {
        padding: 1rem 0;

        ul {
          list-style: none;

          .dropdown-menu {
            a {
              padding-left: 3rem;
            }
          }

          a {
            display: block;
            font-size: .9rem;
            padding: 0.5rem 2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            word-break: break-all;
            width: 100%;
            overflow-x: hidden;
            white-space: nowrap;
            color: $dark;
            text-decoration: none;
            box-sizing: border-box;

            &:hover {
              background-color: $background-hover;
            }
          }
        }
      }
      .catalog {
        width: 250px;
        padding: 1rem;
        box-sizing: border-box;
        max-height: calc(100vh - 100px);
        overflow-y: auto;

        &.fixed {
          position: fixed;
          top: 85px;
        }
        ul {
          li {
            width: 100%;
            display: block;
            color: $dark;
            text-decoration: none;
            box-sizing: border-box;

            ul {
              padding-left: 20px;
            }

            a {
              display: block;
              font-size: .9rem;
              padding: 4px 8px 4px 8px;
              cursor: pointer;
              transition: background-color 0.3s ease;
              word-break: break-all;
              border-radius: 3px;
              width: 100%;
              overflow-x: hidden;
              white-space: nowrap;
              color: $dark;
              text-decoration: none;
              box-sizing: border-box;

              &:hover {
                background-color: $background-hover;
              }
            }
          }
        }
      }
    }

    &.aside-right {
      .card {
        padding: 2rem;

        .avator {
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 100px;
          margin: 0 auto;

          img {
            width: 100px;
          }
        }

        .name {
          font-size: 1.2rem;
          text-align: center;
          margin: 1rem 0;
        }

        .site-state {
          display: flex;
          justify-content: space-around;
          margin: 1rem;

          .item {
            text-align: center;
            border-left: 1px solid #eee;
            padding: 0 .5rem;

            &:first-child {
              border: 0;
            }

            strong, span {
              font-size: 13px;
              display: block;
            }
          }
        }
      }
    }
  }

  main {
    flex: 1 1 100%;
    margin: 0 0.8rem;

    article.article {
      header {
        h1 {
          a {
            font-size: 26px;
            letter-spacing: .5px;
            transition: all .35s ease;

            &:hover {
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}

.card, .markdown-section {
  background: $background;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  border-radius: 4px;
  margin-bottom: 1rem;

  &.article {
    line-height: 1.7;

    h1 {
      font-size: 26px;
      letter-spacing: .5px;
      transition: all .35s ease;
      color: $themecolor;
      word-wrap: break-word;
      text-align: center;
      font-weight: 400;

      &:hover {
        letter-spacing: 1px;
      }
    }
  }

  &.home-item {
    h1 {
      margin-top: 0 !important;
    }

    .tags {
      display: none;
    }
  }
}

.markdown-section {
  padding: 2rem;
}
